@font-face {
    font-family: 'Bariol-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol-Regular'), url('Bariol.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bariol-Regular';
    text-decoration: none;
}

.fa {
    margin-right: 0.3rem;
}

body {
    max-width: 100vw;
}

.mainContent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(270px, 1fr));
    grid-template-rows: 49px 1fr 50px;
    grid-template-areas:
        "navbar",
        "landingPageContent",
        "footer";
}

header {
    border-bottom: 1px dotted #eee;
    grid-area: 'navbar';
    position: relative;
    z-index: 2000;
    box-shadow: 1px -10px 70px #000;
}

nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    min-width: 10rem;
    justify-content: space-around;
}

nav li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
}

div.landingPage {
    grid-area: 'landingPageContent';
    background: linear-gradient(to top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url('../img/worldPolitics.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.landingPage div {
    min-width: 300px;
    width: 50%;
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .4);
    border: 1px solid #eee;
    border-top: 4px solid rgba(0, 0, 0, .4);
    padding: 1rem;
    margin: auto;
    text-align: justify;
}

div.landingPage div span {
    display: block;
    font-size: 0.7rem;
    margin-top: 3rem;
}

div.landingPage h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

div.landingPage p {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

footer {
    background-color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    border-top: 1px dotted #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.signupPage {
    grid-area: 'landingPageContent';
    background: linear-gradient(to top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url('../img/worldPolitics.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage {
    background: linear-gradient(to top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url('../img/worldPolitics.png') no-repeat;
    background-size: 100% 100%;
}

.mainPage>div {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

table {
    margin-top: 2rem;
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #000;
    padding: 0.5rem;
}

td {
    border: 1px solid #000;
    padding: 0.5rem;
}

.cBtn {
    display: flex;
    justify-content: flex-end;
}

.voteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 83vh;
    left: 90vw;
    background-color: #000;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.successModal {
    position:fixed;
    min-width:100vw;
    display:flex;
    align-items: flex-end;
    opacity:0;
    transition:1s cubic-bezier(.28,-0.58,.78,1.52) .5s;
}
.successModal > div{
    background-color: rgba(255, 255, 255, .5);;
    width:200px;
    border:1px solid green;
}
.showModal {
    z-index: 1000;
    opacity: 1;
    left: 89%;
}

.successModal h1 {
    display:inline-block;
    color: green;
}

.successModal span {
    font-size:0.9rem;
}

.createBtn {
    width: 10%;
    height: 40px;
    background-color: #000;
    color: #fff !important;
    font-size: 0.9rem;
}

.createBtn a,
.viewBtn a,
.editBtn a {
    color: #fff !important;
}

.editBtn {
    font-size: 0.6rem;
    background-color: #000;
    color: #fff;
    min-height: 20px;
    min-width: 30px;
}

.delBtn {
    background-color: red;
    margin-left: 3px;
}

.intBtn {
    padding: 0.5rem;
}

div.signupPage>div {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.signupPage>div>div {
    width: 50%;
}

div.signupPage>div>div:nth-child(2) {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 50px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

div.signupPage>div>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.9rem;
    padding: 0 1rem;
}

input,
button.fullBtn {
    min-width: 100%;
    height: 35px;
    margin-bottom: 1rem;
}

input {
    padding: 0 0.4rem;
}

button {
    border-style: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 1s ease-in-out 0.5s,
        color .5s linear 1s;
}

div.signupPage>div>div:nth-child(1) p {
    font-size: 1.2rem;
}

div.signupPage>div>div:nth-child(1) h3 {
    font-size: 2rem;
    font-weight: bold;
    color: tomato;
}

div.signupPage>div>div:nth-child(1) button {
    height: 35px;
    margin-top: 1rem;
    max-width: 150px !important;
    background-color: blue;
    color: #fff;
}

div.signupPage h2 {
    margin-bottom: 2rem;
}

form {
    display: block;
    width: 65%;
}

button:hover {
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 3px;
}

@media(max-width:768px) {
    div.signupPage>div {
        flex-direction: column;
        width: 90%;
        margin: 2rem;
        font-size: 1.6rem;
    }

    div.signupPage>div>div:nth-child(1) button {
        margin-bottom: 1rem;
    }

    div.signupPage>div>div:nth-child(1),
    div.signupPage>div>div:nth-child(2) {
        min-width: 100%;
    }

    div.signupPage>div a {
        font-size: 1rem;
    }

    div.signupPage>div h3,
    div.signupPage>div h2 {
        font-size: 1.6rem !important;
    }
}